# Python
__pycache__/
*.pyc
.venv/
venv/

# Environment / Secrets
.env
.env.*
config.py
local.settings.json

# Azure local parameters
parameters.local.json

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Logs
*.log